.czero-bg {
  background-image: url("../img/czero_sfw.png");
}

.body {
  background-color: #bf882b;
}

.underside {
  background-color: #667215;
}

.markings {
  background-color: #385710;
}

.horns {
  background-color: #c0b9b5;
}

.horn-rings {
  background-color: #1b2a0d;
}

.ring {
  background-color: #9c4136;
}

.wing-grad-1 {
  background-color: #3d4d2f;
}

.wing-grad-2 {
  background-color: #8b892c;
}

.eyes {
  background-color: #a3b401;
}

.pawpads {
  background-color: #d2b074;
}

.fins-border {
  background-color: #40301b;
}

.fins-1 {
  background-color: #695b4f;
}

.fins-2 {
  background-color: #c3a68e;
}

.flesh {
  background-color: #9a6656;
}

.dick-1 {
  background-color: #c45b42;
}

.dick-2 {
  background-color: #a84e38;
}
