.czero-bg {
  background-image: url("../img/czero_sfw.jpg");
}

.czero-body {
  background-color: #bf882b;
}

.czero-underside {
  background-color: #667215;
}

.czero-markings {
  background-color: #385710;
}

.czero-horns {
  background-color: #c0b9b5;
}

.czero-horn-rings {
  background-color: #1b2a0d;
}

.czero-ring {
  background-color: #9c4136;
}

.czero-wing-grad-1 {
  background-color: #3d4d2f;
}

.czero-wing-grad-2 {
  background-color: #8b892c;
}

.czero-eyes {
  background-color: #a3b401;
}

.czero-pawpads {
  background-color: #d2b074;
}

.czero-fins-border {
  background-color: #40301b;
}

.czero-fins-1 {
  background-color: #695b4f;
}

.czero-fins-2 {
  background-color: #c3a68e;
}

.czero-flesh {
  background-color: #9a6656;
}

.czero-member-1 {
  background-color: #c45b42;
}

.czero-member-2 {
  background-color: #a84e38;
}
