/* ------------------------------------------------------------------------- */

/* Global */

:root {
  --gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lalezar", cursive;
  color: #ebe4c9;
}

/* ------------------------------------------------------------------------- */

/* Wrapper container */

.wrapper,
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------------- */

/* Header bar */

.header-container {
  display: flex;
  background-color: #272c35;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo-container {
  margin-left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
}

.logo-text {
  margin-top: 14px;
  margin-left: 5px;
  font-size: 15px;
}

.title-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title {
  margin-top: 14px;
  font-size: 15pt;
}

.psuedo-container {
  flex: 1;
}

/* ------------------------------------------------------------------------- */

/* Gallery */

.gallery-container {
  color: white;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex: 1;
  flex-flow: row wrap;
}

.dragon-title {
  margin-bottom: 50px;
  font-size: 25pt;
}

.dragon-small-title {
  font-size: 15pt;
}

.gallery-section {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: flex-end;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.subsection-container {
  display: flex;
  flex: 3;
}

.bg-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}

/* ------------------------------------------------------------------------- */

/* Seledrex */

.section-seledrex {
  background-color: #272c35;
  overflow: hidden;
}

.seledrex-bg {
  background-image: var(--gradient), url("../img/seledrex_profile.png");
  background-position: right;
}

/* ------------------------------------------------------------------------- */

/* Czero */

.section-czero {
  background-color: #272c35;
  overflow: hidden;
}

.czero-bg {
  background-image: var(--gradient), url("../img/czero_profile.png");
  background-position: left;
}

/* ------------------------------------------------------------------------- */

/* Couple */

.section-couple {
  flex: 3;
  background-color: #272c35;
  overflow: hidden;
}

.couple-bg {
  background-image: var(--gradient), url("../img/couple.jpg");
  background-position: center;
}

/* ------------------------------------------------------------------------- */

/* Vemora */

.section-vemora {
  display: flex;
  background-color: #272c35;
  flex: 1;
  overflow: hidden;
}

.vemora-bg {
  background-image: var(--gradient), url("../img/vemora_sfw.png");
  background-position: left;
}

/* ------------------------------------------------------------------------- */

/* Kire */

.section-kire {
  display: flex;
  background-color: #272c35;
  flex: 1;
  overflow: hidden;
}

.kire-bg {
  background-image: var(--gradient), url("../img/kire_sfw.png");
  background-position: center;
}

/* ------------------------------------------------------------------------- */

/* Hover */

.hover-parent:hover .hover-child {
  background-color: white;
  opacity: 0.9;
  transform: scale(1.1);
}

@media all and (min-width: 800px) {
  .logo-text {
    font-size: 25px;
  }

  .title {
    font-size: 25pt;
  }

  .dragon-title {
    font-size: 48pt;
  }

  .dragon-small-title {
    font-size: 32pt;
  }

  .gallery-section {
    flex: 1 1;
  }

  .section-container {
    flex-direction: column;
  }

  .section-couple {
    flex: 2;
  }
}
