.kire-bg {
  background-image: url("../img/kire_sfw.jpg");
}

.kire-body-1 {
  background-color: #eaf8f7;
}

.kire-body-2 {
  background-color: #061817;
}

.kire-fins-1 {
  background-color: #061817;
}

.kire-fins-2 {
  background-color: #eaf8f7;
}

.kire-wings-1 {
  background-color: #061817;
}

.kire-wings-2 {
  background-color: #eaf8f7;
}

.kire-horns-chest {
  background-color: #999999;
}

.kire-eyes {
  background-color: #3f8f39;
}
