.kire-bg {
  background-image: url("../img/kire_sfw.jpg");
}

.kire-horns {
  background-color: #dbdfd8;
}

.kire-underside {
  background-color: #d5d6cc;
}

.kire-ears {
  background-color: #8d897e;
}

.kire-primary {
  background-color: #6e6e6e;
}

.kire-secondary {
  background-color: #4b4b4b;
}

.kire-tertiary {
  background-color: #282828;
}

.kire-green {
  background-color: #3d8b38;
}

.kire-yellow {
  background-color: #8e8e38;
}

.kire-red {
  background-color: #8a3837;
}

.kire-member-1 {
  background-color: #91422d;
}

.kire-member-2 {
  background-color: #753423;
}
