/* ------------------------------------------------------------------------- */

/* Global */

:root {
  --title-color: #ebe4c9;
  --text-color: #868686;
}

* {
  margin: 0;
  padding: 0;
}

.hr {
  border-color: var(--text-color);
}

/* ------------------------------------------------------------------------- */

/* Wrapper container */

.wrapper,
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------------- */

/* Header bar */

.header-container {
  display: flex;
  background-color: #272c35;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  font-family: "Lalezar", cursive;
}

.logo-container {
  margin-left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
}

.logo-text {
  margin-top: 14px;
  margin-left: 5px;
  font-size: 15px;
  color: #ebe4c9;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 5px solid var(--title-color);
  border-right: 5px solid var(--title-color);
  margin-left: 10px;
  transform: rotate(-135deg);
}

.title-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title {
  margin-top: 14px;
  font-size: 15pt;
}

/* ------------------------------------------------------------------------- */

/* Toggle settings */

.toggle-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

/* Mobile toggle button settings */

.btn-outline-danger:hover {
  background-color: transparent;
}

.btn-outline-secondary:hover {
  background-color: transparent;
}

.toggle.btn-outline-secondary:hover .toggle-handle {
  background-color: var(--secondary);
}
.toggle.btn-outline-danger:hover .toggle-handle {
  background-color: var(--danger);
}

/* ------------------------------------------------------------------------- */

/* Reference area */

.reference-area-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

/* ------------------------------------------------------------------------- */

/* Reference sheet */

.reference-sheet {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  max-width: 100%;
}

/* ------------------------------------------------------------------------- */

/* Reference Info */

.reference-info-container {
  background-color: #181b20;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 12px;
  font-family: "Source Code Pro", monospace;
  color: var(--text-color);
  min-width: 0px;
}

.info-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.color-box {
  display: flex;
  flex: initial;
  width: 25px;
  height: 70%;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.info-col {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.info-part {
  justify-content: flex-start;
  flex: 3;
}

.info-hex {
  flex: 1;
}

.info-pseudo {
  flex: 1;
}

.info-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.info-notes {
  color: #cc4444;
}

/* ------------------------------------------------------------------------- */

/* Download button */

.info-download {
  display: flex;
  font-family: "Lalezar", cursive;
  color: #ebe4c9;
  height: 60px;
  flex: initial;
  justify-content: center;
  align-items: center;
}

.download-button {
  font-size: 20px;
  width: 200px;
  height: 70%;
  color: var(--title-color);
  background-color: #272c35;
  border-color: var(--text-color);
  border-radius: 20px;
}

.download-button:hover {
  background-color: #404857 !important;
  border-color: var(--text-color) !important;
  color: var(--title-color) !important;
}

.download-button:focus {
  background-color: #272c35 !important;
  border-color: var(--text-color) !important;
  outline: none !important;
  box-shadow: none !important;
  color: var(--title-color) !important;
}

.download-button:active {
  background-color: rgb(70, 79, 94) !important;
  outline: none !important;
  box-shadow: none !important;
  color: var(--title-color) !important;
}

/* ------------------------------------------------------------------------- */

/* Large display settings */

@media all and (min-width: 800px) {
  .logo-text {
    font-size: 25px;
  }

  .title {
    font-size: 25pt;
  }

  .reference-area-container {
    flex-direction: row;
  }

  .reference-info-container {
    font-size: 16px;
    min-width: 550px;
  }

  .info-row {
    height: 30px;
  }

  .color-box {
    width: 50px;
  }
}

/* ------------------------------------------------------------------------- */

/* Desktop toggle settings */

@media (pointer: fine) {
  .btn-outline-danger:hover {
    background-color: var(--danger);
  }

  .btn-outline-secondary:hover {
    background-color: var(--secondary);
  }

  .toggle[class*="btn-outline"]:hover .toggle-handle {
    background-color: var(--light);
    opacity: 0.5;
  }
}
