.seledrex-bg {
  background-image: url("../img/seledrex_sfw.jpg");
}

.seledrex-primary {
  background-color: #9c4136;
}

.seledrex-underside {
  background-color: #ffc693;
}

.seledrex-secondary {
  background-color: #702b23;
}

.seledrex-horns-claws {
  background-color: #bab29e;
}

.seledrex-flesh {
  background-color: #b15949;
}

.seledrex-wing-grad-start {
  background-color: #391718;
}

.seledrex-wing-grad-end {
  background-color: #53292a;
}

.seledrex-eyes {
  background-color: #f5ec7d;
}

.seledrex-ring {
  background-color: #dd811f;
}
