.vemora-bg {
  background-image: url("../img/vemora_sfw.jpg");
}

.vemora-body {
  background-color: #0f64af;
}

.vemora-back-wingbase {
  background-color: #05329a;
}

.vemora-underside {
  background-color: #deceac;
}

.vemora-eyes-frontclaws-flesh {
  background-color: #22b5d8;
}

.vemora-pupil {
  background-color: #00213c;
}

.vemora-backclaws {
  background-color: #8967c6;
}

.vemora-ear-wingtip {
  background-color: #0d1a61;
}

.vemora-frontpaws-tailgradient-1 {
  background-color: #2290d8;
}

.vemora-backpaws {
  background-color: #5f3c9f;
}

.vemora-horn-fur-tailgradient-3 {
  background-color: #462288;
}

.vemora-teeths {
  background-color: #dbd8c9;
}

.vemora-tailgradient-2 {
  background-color: #07389e;
}
